.main{
    background-image: url('img2.jpg');
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;

}
.log{
    background-image: url('log.jpg');
    height: 23rem;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
}